
.h1{ color: pink;
	 font-family: 'Rouge Script', cursive;
	 font-size: 60px;
	 font-weight: normal; 
	 line-height: 48px;
	 margin: 0 0 50px; 
	 text-align: center;
	 text-shadow: 1px 1px 2px #082b34; 
		 

}

.h4{ 
     color: purple;
	 font-family: 'Julius Sans One', sans-serif;
	 font-size: 22px; 
	 font-weight: bold;
	 line-height: 32px; 
	 margin: 0 0 24px; 
	 text-shadow: 1px 1px 1px #082b34; 
	 text-align: center;
	 font-style: bold;
}	


Body{
	background:url(calm1.jpg);
	background-repeat: no-repeat;
	background-size:100% 100%;
	text-align: center;
}

