



.h1{ color: pink;
	 font-family: 'Rouge Script', cursive;
	 font-size: 60px;
	 font-weight: normal; 
	 line-height: 48px;
	 margin: 0 0 50px; 
	 text-align: center;
	 text-shadow: 1px 1px 2px #082b34; 
		 

}
	
.h2{ 
     color: purple;
	 font-family: 'Julius Sans One', sans-serif;
	 font-size: 35px; 
	 font-weight: bold;
	 line-height: 32px; 
	 margin: 0 0 24px; 
	 text-shadow: 1px 1px 1px #082b34; 
	 text-align: center;
}	

.h3 { color: black; 
	  font-size: 48px;
	  font-family: 'Signika', sans-serif;
	  padding-bottom: 10px; }
	}

.resize {
    width: 400px;
    height: auto;
}


.center{

  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 30%;
}
.img {  
	border-radius: 8px;

}

.moto{  
	 border-radius: 50%;
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 width: 30%;
		
	
}

.p{
	text-align: center;
	font-style: italic;
	font-family: 'Droid serif', serif;
	font-size: 26px;
}

.ul {
  text-align: center;
  list-style: inside;
  font-size: 20px;
  
}
Body{
	background:url(calm1.jpg);
	background-repeat: no-repeat;
	background-size:100% 100%;
	
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}



.topnav {
  overflow: hidden;
  background-color: rgba(255, 0, 0, 0.2);
  text-align: center;
  height: 40px;
  
}

.topnav a {
  float: center;
  color: black;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-size: 26px;
  font-family: Monospace;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgba(0, 0, 0, 0);
  color: black;
}